@font-face {
  font-family: "SF Compact Display Thin"; /*Can be any text*/
  src: local("SFCompactDisplayThin"),
    url("../../assets/fonts/sf-compact-display-thin-58646eb43a785.otf")
      format("opentype");
}

.forumBack {
  position: relative;
}

.forumMain {
  position: absolute;
  height: 78vh;
  width: 80vw;
  top: 3rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  max-height: 650px;
}
.forumPics {
  display: flex;
  justify-content: flex-start;
}
.forumLogo {
  height: 13vh;
  padding-left: 20%;
}

.forumHeader {
  width: 100%;
  height: 6vh;
  background: #fffdfd;
  border: 2px solid #aad04a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.forumPost {
  width: 100%;
  height: 4vh;
  background: #d5eef2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "SF Compact Display Thin";
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forumNoPosts {
  height: 60%;
  font-size: large;
  text-align: center;
  overflow: hidden;
  font-weight: 500;
}
